.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #331748;
  background-image: linear-gradient(#230F2E, #591B7A);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Public {
  text-align: center;
}

.Description {
  text-align: left;
  margin: 1em;
}

.Private {
  text-align: left;
  margin-left: 1.5em;  
}

.Donation {
  color: #434717;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

.Noclick {
  background-color: #efefef;
  border: 1px solid black;
  border-radius: 3px;
}

.Noclick:hover {
  background-color: #9c9c9c;
}

.Noclick:active {
  background-color: #ffffff;
}